/* :root{
    font-size: 10px;
    font-family: 'Do Hyeon', sans-serif; 
    --navy--dark : rgb(15, 4, 76);
    --navy--origin: rgb(20, 30, 97);
    --navy--gray: rgb(120, 122, 145);
    --white: rgb(238, 238, 238);
    --cocoa--brown: rgb(129, 91, 91);
    --cocoa : rgb(158, 118, 118);
    --purple--gray : rgb(113, 111, 129);
} */
.todoList{
    /* border: 1px solid firebrick; */
    width: 40rem;
    height: 50rem;
    margin-bottom: 20px;
}
.todoBoard{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.itemDate{
    width: 10rem;
    background-color: var(--cocoa--brown);
    color: var(--white);
    font-size: 1.8rem;
    /* font-weight: 600; */
    text-align: center;
}
.totalItem{
    font-size: 1.4rem;
    font-weight: 600;

}
.todoItemCompo{
    border: 3px solid var(--cocoa--brown);
    height: 320px;
    padding: 0 10px;
}
.todoItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.8rem;
    padding-top: 1.5rem;
    /* font-weight: 700; */
    align-content: center;
}
.todoState{
    /* margin-top: 3px; */
    padding-top: 0.4rem;
}
.todo-item{
    margin-left: 20px;
    margin-right: 50px;
    width: 150px;
    text-align: start;
    padding-top: 0.4rem;
    cursor: pointer;
}
.checkedItem{
    text-decoration: line-through;
    color: #868e96;
}
.btn-edit-done{
    width: 20px;
    cursor: pointer;
    padding-top: 0.4rem;
    /* margin-left: 50px; */
}
.btn-remove{
    margin-left: 0px;
    cursor: pointer;
    padding-top: 0.4rem;
}
.btn-edit{
    cursor: pointer;
    padding-top: 0.4rem;
}