@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
:root{
  font-size: 10px;
  font-family: 'Do Hyeon', sans-serif;
  --navy--dark : rgb(15, 4, 76);
  --navy--origin: rgb(20, 30, 97);
  --navy--gray: rgb(120, 122, 145);
  --white: rgb(238, 238, 238);
  --cocoa--brown: rgb(129, 91, 91);
  --cocoa : rgb(158, 118, 118);
  --purple--gray : rgb(113, 111, 129);
}
body{
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-image: url(./../배경.jpeg); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -150px;
  /* background-color: var(--white); */
}
.App{
  margin-top: 7rem;
  border: 0.5px solid var(--purple--gray);
  box-shadow: 10px -10px 2px var(--cocoa--brown);
  height: 55rem;
  width: 50rem;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* min-width: 500px; */
  background-color: var(--white)
  
}
.component{
  display: flex;
  flex-direction: row;
  align-items: center;
}
h1{
  font-size: 5rem;
  margin-top: 2rem;
  color: var(--cocoa--brown);
}
.addItem {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 30px;
}
.inputItem {
  width: 30rem;
  height: 3rem;
  border-radius: 25px;
  border: 0.5px solid saddlebrown;
  padding-left: 20px;
  font-size: 1.6rem;
}
.inputBtn{
  font-size: 2.7rem;
  margin-left: 50px;
  margin-top: 3px;
  cursor: pointer;
}
.goLeft{
  font-size: 2.5rem;
  padding-bottom: 250px;
  /* position: fixed; */
}
.goRight{
  font-size: 2.5rem;
  padding-bottom: 250px;
  /* position: fixed; */
}